<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikialeksey.fullscreendialog">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <activity android:name="com.nikialeksey.fullscreendialog.FsDialogTest$FsDialogTestActivity"/>

    </application>

</manifest>